$corn:cornsilk;
$cadet:cadetblue;

.icyNav{
    background-color:$cadet;
  }
  
  .navText{
    color:black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }

.navbar-brand .navText{
  padding-bottom: none;
  padding-top:none;
}
.navbar-light .navbar-brand {
    color: $corn;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    
  }
  


  .navbar-light {
    .navbar-brand {
      color: black;
  
      &:hover,
      &:focus {
        color: yellow;
      }
    }
  
    .navbar-nav {
      .nav-link {
        color: black;
  
        &:hover,
        &:focus {
          color: yellow;
        }
  
        &.disabled {
          color: yellow;
        }
      }
  
      .show > .nav-link,
      .nav-link.active {
        color: yellow;
      }
    }
  
    .navbar-toggler {
      color: $navbar-light-color;
      border-color: $navbar-light-toggler-border-color;
    }
  
    .navbar-toggler-icon {
      background-image: escape-svg($navbar-light-toggler-icon-bg);
    }
  
    .navbar-text {
      color: $navbar-light-color;
  
      a,
      a:hover,
      a:focus  {
        color: $navbar-light-active-color;
      }
    }
  }
.ayo  {
  width: 100%;
  border: solid;
  border-color: black;
}

.aya  {
  width: 100%;
  border:solid;
  border-color: crimson;
}

.motto{
  align-items:flex-start;
  text-align: right;
}
