$corn:cornsilk;
$red:indianred;
$cyan:darkcyan;

.rowLocales{
    margin-top: 3rem;
    margin-bottom: 3rem;
    .rowLocales__espacio{
        display:flex;
        text-align:left;
        justify-content: left;
        align-items: left;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        color:$corn;
        text-decoration:none;
        margin-bottom:  1rem;
        padding:none;
          .tabla{
            width:100%;
              .tabla__header{
                background-color:$red;
                width:100%;
                text-decoration:$corn;
              }
              .tabla__imagen{
                width:100%;
                height:25rem;
                .tabla__imagen-primero{
                  background-image: url(../images/heladeríaPortada1.jpg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
                .tabla__imagen-segundo{
                  background-image: url(../images/heladeríaPortada2.jpg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
                .tabla__imagen-tercero{
                    background-image: url(../images/heladeríaPortada3.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                  }
              }
              .tabla__día{
                width: 100%;
                background-color: none;
                color:$cyan;
                font-size: 1.5;
                padding-bottom: 1rem;
                text-align:left;
              }             
          }
    }
}

.localesStart{
  margin-top: 2rem;
  font-size: 2.5rem;
  color:lightseagreen;
}
.tablaDía{
  color: $red;
  font-size: 1.5rem;
  text-align: left;
}

.saborDelDía{
  font-size: 1rem;
  color:black;
  text-align: left;
}

.localDía{
  font-size: 0.8rem;
  color:black;
  margin-top:2rem;
  margin-bottom: 3rem;
  text-align: left;
}
.introSabores{
  color:$cyan
}
.tabla__saborDía{
  font-size:1.25rem;
  color:$red;
  text-align:left;
    ul{
      list-style:none;
    }
}

.datos{
  margin-bottom: 2rem;
}