.rowImagen{
    width: 100%;
    margin:auto;
    padding:none;
    margin-top: 3rem;
    margin-bottom: 3rem;
        .rowImagen__menu{
            display:flex;
            justify-content: center;
            .boing{
                height:40%;
                width:40%;
                    .boing__Img{
                        align-items: center;
                            img{
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                max-width: 75%;  
                                height: auto;
                            }
                    }
                    .boing__Text{
                        text-align: center;
                        font-family:'Roboto', sans-serif;
                        font-size: 1.25rem;
                            a{
                                text-decoration:none;
                                color:darkcyan;
                            }
                    }
            }
        }

  }

.smolMenu{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    padding:0.75rem;
    text-decoration: none;
}

.textMenu1{
    text-decoration: none;
    color:orange;
}

.textMenu1:hover{
    color:orange;
}

.textMenu2{
    text-decoration: none;
    color:chocolate;
}

.textMenu2:hover{
    color:chocolate;
}

.textMenu3{
    text-decoration: none;
    color:indigo;
}

.textMenu3:hover{
    color:indigo;
    transform: scale(1.1);
}

.textTry:hover{
    transform: scale(1.1);
}

