.pedidoTag{
    margin-top:2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color:cadetblue;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.checkers{
    color: indianred;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.forma{
    margin-top:1rem;
    width: 50%;
        .btn{
            background-color:darksalmon;
            color:cornsilk;
        }
}

/*BOOTSTRAP EDITS*/
.form-check-input:checked {
    background-color:black;
    border-color:black;
}

.input-group-text {
    background-color: darksalmon;
    color:cornsilk;
}

.masMenos{
    text-decoration: none;
    font-size: 1.25rem;
}

.form-control-sm {
    min-height: calc(1.5rem + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
    min-width: 4rem;
}