
.pedidosStart{
    font-family: 'Roboto', sans-serif;
    margin-top:2rem;
    font-size: 2.5rem;
    color:indianred;
}
/*BOOTSTRAP EDITS*/
.form-check-input:checked {
    background-color:black;
    border-color:black;
}

.input-group-text {
    background-color: darksalmon;
    color:cornsilk;
}

.masMenos{
    text-decoration: none;
    font-size: 1.25rem;
}

.form-control-sm {
    min-height: calc(1.5rem + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
    min-width: 4rem;
}

.shopBtn{
    background-color: transparent;
    border: transparent;
}
.btn {
    border: 0 none;
    outline: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.card{
    background-color: cornsilk;
    border: 3px solid;
    border-color: brown;
}

.pye{
    padding-bottom: 3rem;
}

.select{
    border-radius: 0.25rem;
}